@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
  /* Colors */
  --softRed: hsl(7, 90%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);

  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --headingFont: Fraunces, serif;
  --bodyFont: Barlow, 'sans-serif';
  --bodyTextSize: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --bgColor: var(--white);
  --textColor: var(--darkGrayishBlue);
  font-size: var(--bodyTextSize);
  font-family: var(--bodyFont);
  font-weight: 600;
  color: var(--textColor);
  line-height: 1.666em;
  font-weight: 600;
}

img {
  max-width: 100%;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--veryDarkDesaturatedBlue);
  font-family: var(--headingFont);
  font-weight: 900;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1.5rem 0;
}

.nav__logo {
  height: 24px;
  width: 124px;
}

.menu {
  text-align: center;
}

.menu a {
  color: var(--white);
  text-decoration: none;
}

.menu.open {
  position: relative;
}

ul {
  list-style: none;
}

.menu__list {
  display: none;
}

.menu.open a {
  color: var(--grayishBlue);
}

header {
  background-image: url('./images/mobile/image-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 538px;
  width: 100vw;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__heading {
  font-size: 2.5rem;
  color: var(--white);
  text-align: center;
  line-height: 100%;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  padding-bottom: 3.25rem;
}

.section__content {
  padding: 4rem 1.5rem;
  text-align: center;
}

.section__content--heading {
  font-size: 2rem;
}
